
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <link href="Content/heroic-features.css" rel="stylesheet" />
        <script src="Scripts/jquery.min.js"></script>
        <script src="Scripts/bootstrap.bundle.min.js"></script>


    </head>
    <body style="background-image:url(https://images.unsplash.com/photo-1493243391685-aa64043dfd41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=680&q=80)">
        <div class="container">

            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h1 class="display-3">Cinema-Tor'a Hoşgeldiniz!!</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
            </header>

            <!-- Page Features -->
            <div class="row text-center">

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="http://sineblog.org/wp-content/uploads/2019/10/131020191048001882403.jpg" alt="Joker" title="Joker">
                        <div class="card-body">
                            <h4 class="card-title">Joker</h4>
                            <p class="card-text">Joker, başarısız bir komedyen olan Arthur Fleck'in hayatına odaklanıyor. Toplum tarafından dışlanan bir adam olan Arthur, hayatta yapayalnızdır. Sürekli bir bağ kurma arayışında olan Arthur, yaşamını taktığı iki maske ile geçirir.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/Home/Joker" class="btn btn-primary">Hemen Bilet Al!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://www.cinemascomics.com/wp-content/uploads/2020/03/el-hoyo.jpg" alt="El hoyo" title="El hoyo">
                        <div class="card-body">
                            <h4 class="card-title">El hoyo</h4>
                            <p class="card-text">The Platform, dikey şekilde konumlandırılmış bir hapishanede geçiyor. Her hücrede iki mahkumun kaldığı hapishanede, yemek günde sadece bir kere üst kattan aşağıya doğru gönderilmektedir.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Hemen Bilet Al!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://www.sinefocus.com/wp-content/uploads/2020/01/The-Gentlemen-filmi-fragmani-full-hd-tek-parca-izle-700x400.jpg" alt="The Gentleman" title="The Gentleman">
                        <div class="card-body">
                            <h4 class="card-title">The Gentleman</h4>
                            <p class="card-text">The Gentlemen, kurduğu suç imparatorluğunu bırakmak isteyen bir adamın hikayesini konu ediyor. Londra’da kurduğu suç imparatorluğunu bırakmak isteyen Mickey Pearson, ailesi ile birlikte Amerika’ya dönmeyi planlar.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Hemen Bilet Al!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="https://i.ytimg.com/vi/dSBsNeYqh-k/maxresdefault.jpg" alt="The Invisible Man" title="The Invisible Man">
                        <div class="card-body">
                            <h4 class="card-title">The Invisible Man</h4>
                            <p class="card-text">Kontrolcü ve baskıcı olan erkek arkadaşına daha fazla dayanamayan Cecilia gecenin bir yarısı kaçmanın bir yolunu bulur ve yaşadığı kabustan olabildiğince uzaklaşmaya karar verir. Eski sevgilisinin kendisini bulacağından endişe ettiği için saklanmaya karar veren genç kadın, kız kardeşi, kardeşlerin bir çocukluk arkadaşı ve onun kızından yardım alır.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Hemen Bilet Al!</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </body>
   
