@{
    ViewBag.Title = "Joker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset="utf-8" />
        <title>Joker</title>
        <link href="../Content/bootstrap.min.css" rel="stylesheet" />
        <link href="../Content/modern-business.css" rel="stylesheet" />
        <script src="../Scripts/jquery.min.js"></script>
        <script src="../Scripts/bootstrap.bundle.min.js"></script>
    </head>

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/517OFTxqBNL.jpg'); background-size: contain, 1080px; background-repeat:no-repeat;background-attachment: fixed;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>First Slide</h3>
                    <p>This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://tr.web.img4.acsta.net/pictures/19/09/11/16/43/1511539.jpg'); background-size: 1900px, 1080px; background-repeat: no-repeat;
  background-attachment: fixed;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080'); background-size:cover; background-repeat:no-repeat;background-attachment: fixed;">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container" style="margin-top:10px">
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Joker</h2>
            <p>The Modern Business template by Start Bootstrap includes:</p>
            <ul>
                <li>
                    <strong>Yönetmen:</strong>Todd Phillips
                </li>
                <li>
                    <strong>Oyuncular:</strong>Joaquin Phoenix,
                    Robert De Niro,
                    Frances Conroy
                </li>
                <li>
                    <strong>Süre:</strong>2 Saat
                </li>
                <li>
                    <strong>Imbd:</strong>8.5
                </li>
            </ul>
            <p>Joker, başarısız bir komedyen olan Arthur Fleck'in hayatına odaklanıyor. Toplum tarafından dışlanan bir adam olan Arthur, hayatta yapayalnızdır. Sürekli bir bağ kurma arayışında olan Arthur, yaşamını taktığı iki maske ile geçirir.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="http://sineblog.org/wp-content/uploads/2019/10/131020191048001882403.jpg" alt="Joker" title="Joker">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Şehir Seç</a>
        </div>
    </div>

</div>

