
@{
    ViewBag.Title = "Vizyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset="utf-8" />
        <title>Vizyondakiler</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/shop-homepage.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    </head>
    <body style="background-image:url(https://images.unsplash.com/photo-1460134846237-51c777df6111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=5184&q=80)">
        <div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4" style="color:wheat">Vizyonda</h1>
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a href="/Home/Joker">
                            <img class="d-block img-fluid" src="http://sineblog.org/wp-content/uploads/2019/10/131020191048001882403.jpg" alt="Joker" title="Joker">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">
                            <img class="d-block img-fluid" src="https://www.cinemascomics.com/wp-content/uploads/2020/03/el-hoyo.jpg" alt="El hoyo" title="El hoyo">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"> <img class="d-block img-fluid" src="https://www.sinefocus.com/wp-content/uploads/2020/01/The-Gentlemen-filmi-fragmani-full-hd-tek-parca-izle-700x400.jpg" alt="The Gentleman" title="The Gentleman"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#">  <img class="d-block img-fluid" src="https://i.ytimg.com/vi/dSBsNeYqh-k/maxresdefault.jpg" alt="The Invisible Man" title="The Invisible Man"></a>

                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="text-align:center">
                        <a href="/Home/Joker"><img class="card-img-top" src="http://sineblog.org/wp-content/uploads/2019/10/131020191048001882403.jpg" alt="Joker" title="Joker"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Home/Joker">Joker</a>
                            </h4>
                            <h5>$6.99</h5>   <small class="text-muted">★ ★ ★ ★ ★ </small>
                            <p class="card-text">Joker, başarısız bir komedyen olan Arthur Fleck'in hayatına odaklanıyor. Toplum tarafından dışlanan bir adam olan Arthur, hayatta yapayalnızdır. Sürekli bir bağ kurma arayışında olan Arthur, yaşamını taktığı iki maske ile geçirir.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/Home/Joker" class="btn btn-primary">Hemen Bilet Al!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="text-align:center">
                        <a href="#"> <img class="card-img-top" src="https://www.cinemascomics.com/wp-content/uploads/2020/03/el-hoyo.jpg" alt="El hoyo" title="El hoyo"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">El Hoyo</a>
                            </h4>
                            <h5>$4.99</h5> <small class="text-muted">★ ★ ★ ★ ☆</small>
                            <p class="card-text">The Platform, dikey şekilde konumlandırılmış bir hapishanede geçiyor. Her hücrede iki mahkumun kaldığı hapishanede, yemek günde sadece bir kere üst kattan aşağıya doğru gönderilmektedir..</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Hemen Bilet Al!</a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="text-align:center">
                        <a href="#"> <img class="card-img-top" src="https://www.sinefocus.com/wp-content/uploads/2020/01/The-Gentlemen-filmi-fragmani-full-hd-tek-parca-izle-700x400.jpg" alt="The Gentleman" title="The Gentleman"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">The Gentleman</a>
                            </h4>
                            <h5>$5.99</h5> <small class="text-muted">★ ★ ★ ★ ☆</small>
                            <p class="card-text">The Gentlemen, kurduğu suç imparatorluğunu bırakmak isteyen bir adamın hikayesini konu ediyor. Londra’da kurduğu suç imparatorluğunu bırakmak isteyen Mickey Pearson, ailesi ile birlikte Amerika’ya dönmeyi planlar.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Hemen Bilet Al!</a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="text-align:center">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Item Four</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">★ ★ ★ ★ ☆</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="text-align:center">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Item Five</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">★ ★ ★ ★ ☆</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="text-align:center">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Item Six</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">★ ★ ★ ★ ☆</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
    </body>
    

